@use 'constants';

.hand {
    position: relative;
    height: calc(constants.$card-height * var(--sizeFactor, 1));
    perspective: calc(constants.$card-width * 4 * var(--sizeFactor, 1));
    border-radius: calc(constants.$card-margin * var(--sizeFactor, 1));
    border: 2px solid transparent;
    transition: border-color 300ms ease-in-out;

    &.active-hand {
        border: 2px solid white;   
    }
}

.hand-state-msg {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    color: var(--base-black, black);
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
