#rules {
    margin: 0;
    font-size: 1.7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "rules-title rules-title"
        "min-bet max-bet"
        "bj-payout bj-payout"
        "stand-on-soft-17 double-down-allowed"
        "splitting-allowed surrender-allowed";
    align-content: space-between;
    justify-items: center;

    #rules-title {
        grid-area: rules-title;
    }
    
    #min-bet {
        grid-area: min-bet;
    }

    #max-bet {
        grid-area: max-bet;
    }

    #bj-payout {
        grid-area: bj-payout;
    }

    #stand-on-soft-17 {
        grid-area: stand-on-soft-17;
    }

    #double-down-allowed {
        grid-area: double-down-allowed;
    }

    #splitting-allowed {
        grid-area: splitting-allowed;
    }

    #surrender-allowed {
        grid-area: surrender-allowed;
    }

    & > div {
        display: grid;
        grid-auto-flow: column;
        gap: 0.5em;
    }
}
